<section id="search">
  <h1>Search</h1>
  <form action="/search" method="GET" class="form">
    <input type="text" class="search" name="title" placeholder="Title..."  value="{{title}}"/>
    <input type="text" class="genre" name="genre" placeholder="Genre..."  value="{{genre}}"/>
    <input type="number" class="year"  name="year" placeholder="Year..."  value="{{year}}"/>
    <input type="submit" value="search" />
  </form>
</section>

<section id="catalog">
  <div class="band">
     {{> catalog}}
  </div>
</section>
